---
http_interactions:
- request:
    method: post
    uri: https://api.sendgrid.com/v3/mail/send
    body:
      encoding: UTF-8
      string: '{"from":{"email":"please-do-not-reply@fitness.io","name":"Fitness center"},"personalizations":[{"to":[{"email":"m.mastrodonato@gmail.com"}],"dynamic_template_data":{"firstname":"John4","application_name":"Fitness
        center","link_url":"http://localhost:3100/api/ui/v1/users/confirmation?confirmation_token=zquKgHeeecDsSDKT1VJK"}}],"template_id":"d-86dd760afd9243feb25dd5cc5fefd9b8"}'
    headers:
      Authorization:
      - Bearer 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
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Message-Id:
      - WP1Dd1pyQR-pr0KMBmTpAg
      X-No-Cors-Reason:
      - https://sendgrid.com/docs/Classroom/Basics/API/cors.html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 30 Mar 2020 07:55:20 GMT
recorded_with: VCR 5.1.0
