<h3>Ciao <%= @resource.firstname %>!</h3>

<p>Abbiamo ricevuto una richiesta di recupero/modifica della password. Per completare la procedura clicca sul link qui sotto:</p>
<p><%= link_to 'Reimposta la password', edit_api_ui_v1_user_password_url(reset_password_token: @token, host: @hostname) %></p>
<p>Se non hai fatto tu questa richiesta, per favore ignora questa email.</p>
<p>La tua password cambierà solo se accederai al link e la modificherai attraverso il form.</p>
