body.active_admin {
  #active_admin_content {
    padding: 10px 10px;
  }
  .price {
    text-align: right;
  }
  table.index_table tr.odd.selected td {
      background: none repeat scroll 0 0 #FFFFBD;
  }
  table.index_table tr.even.selected td {
      background: none repeat scroll 0 0 #FFFFAC;
  }
  table tr.odd span.selected {
    background: none repeat scroll 0 0 #FFFFBD;
  }
  table tr.even span.selected {
    background: none repeat scroll 0 0 #FFFFAC;
  }
  .table_tools_segmented_control li.selected {
    a {
      background-color: #E6E6E6;
      cursor: pointer;
    }
    a:hover {
      color: inherit;
    }
  }
  #footer {
    text-align: center;
  }

  //input[type=text].datepicker.calendar, input[type=text].date-time-picker-input {
  //  background: #fff image-url($style_path + "/datepicker-input-icon.png") no-repeat 100% 7px;
  //  padding-right: 27px;
  //  width: $date-range-filter-input-width;
  //}

  // Custom color picker
  .minicolors-theme-default .minicolors-input {
    height: inherit;
    width: auto;
    display: inline-block;
    padding-left: 34px;
    font-family: Courier;
  }
  .minicolors-swatch-color {
    border-radius: inherit;
  }
  .minicolors-theme-default .minicolors-swatch {
    border-radius: 5px;
  }

  // Formtastic type :date_picker
  form input[type=date] {
    width: 120px;
  }

  .red {
    color: red;
  }

  .panel.users_with_expired_medical_certificate {
    padding-bottom: 10px;
    #index_footer {
      margin-top: -5px
    }
  }
}